%br/
%br/
%br/
.booyah-box.col-xs-10.col-xs-offset-1
  %h2 Forgot your password?
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
    = devise_error_messages!
    %br/
    .form-inputs
      = f.input :email, :required => false, :autofocus => true
      %br/
    .form-actions
      = f.button :submit, "Send me reset password instructions", :class => 'btn btn-primary'
      %br/
      %br/
  = render "devise/shared/links"
