.text-center
  %h1 Write a new post
  
  / Button trigger modal
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    Write A Post

%br/

/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Write a new post
      .modal-body
        =simple_form_for @post do |f|
          =f.input :title
          =f.input :body, as: :pagedown, input_html: { preview: true, rows: 10 }
          %br/
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", class: 'pull-left'} Close
            =f.submit 'Create', class: 'btn btn-primary pull-right'
        
        
- @posts.each do |post|
  .booyah-box.col-xs-10.col-xs-offset-1
    %h1= link_to post.title, post_path(post)
    %hr
    .row
      .col-xs-6
        %p=  auto_link(truncate(post.body, length: 250), :html => { :target => '_blank' })
      .col-xs-6
        - if post.og_title.present?
          .col-xs-3
            = link_to image_tag(post.og_image, class: "img-responsive"), post.og_url
          .col-xs-9
            %h4= link_to post.og_title, post.og_url
            %p= post.og_description
    %hr
    %p= post.created_at
    - if post.user.present?
      %small= post.user.email
        
      


