.text-center
  %h1 Write a new post
  %br/

  / Button trigger modal
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    Write A Post

%br/

/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Write a new post
      .modal-body
        =simple_form_for @post do |f|
          =f.input :title
          =f.input :body, as: :pagedown, input_html: { preview: true, rows: 10 }
          %br/
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", class: 'pull-left'} Close
            =f.submit 'Create', class: 'btn btn-primary pull-right'


- @posts.each do |post|
  .booyah-box.col-xs-10.col-xs-offset-1
    .row
      .col-sm-6.col-xs-12
        %h1= link_to post.title, post_path(post)
      .col-sm-6.col-xs-12
        %p.posted-time-ago
          Posted
          = time_ago_in_words(post.created_at)
          ago
    %hr
    .row
      .col-sm-6.col-xs-12
        .wmd-output><
          :preserve
            #{auto_link(truncate(post.body, length: 250), :html => { :target => '_blank' })}
      .col-sm-6.col-xs-12
        - if post.og_title.present?
          %hr.visible-xs
          .col-xs-3
            = link_to image_tag(post.og_image, class: "img-responsive"), post.og_url
          .col-xs-9
            %h4= link_to post.og_title, post.og_url
            %p= post.og_description
    %hr
    .row
      .col-sm-1.col-xs-12
        =link_to image_tag(post.user.gravatar_url(default: "retro", size: 50), alt: post.user.name, class: "gravatar pull-left"), user_path(post.user)
      .col-sm-9.col-xs-12
        %p= post.created_at.to_formatted_s(:long)
        - if post.user.present?
          %small= post.user.email
      .col-sm-1.col-xs-12
        %p= "#{@post.display_votes} ranks of awesomesauce!"
      .col-sm-1.col-xs-12
        - if current_user.voted_for? @post
          =link_to "Awesomesauce!", unlike_post_path(@post), method: :delete
        - else
          =link_to "Awesomesauce?", like_post_path(@post), method: :put
