.col-xs-offset-1.col-xs-10.booyah-box
  .row
    .col-sm-2.col-xs-12
      = link_to image_tag(@post.user.gravatar_url(default: "retro"), alt: @post.user.name, class: "gravatar"), user_path(@post.user)
      %h5
        .post-show-poster-name
          %i= @post.user.name
    .col-sm-6.col-xs-12.post-show-title
      %h1= @post.title
    .col-sm-4.col-xs-12.posted-time-ago-post-show
      %p.posted-time-ago
        Posted
        = time_ago_in_words(@post.created_at)
        ago
    - if current_user == @post.user
      %li= link_to 'Edit Post', edit_post_path(@post), :class => 'btn btn-sm btn-primary pull-right'
  %hr
  .wmd-output><
    :preserve
      #{auto_link(@post.body, :html => { :target => '_blank' }).html_safe}
  - if @post.og_title.present?
    %hr
    .row
      .col-xs-12
        %h3 Referenced Link:
        %br
        = link_to image_tag(@post.og_image, class: "img-responsive pull-left"), @post.og_url
        %br
      .col-xs-12
        %br
        %h4= link_to @post.og_title, @post.og_url
        %p=@post.og_description
  %hr
  .row
    .col-sm-6.col-xs-12
      %h1 Comments
      %small
        &nbsp&nbsp Comment Count:
        =@post.comments.count
    .col-sm-6.col-xs-12
      / Button trigger modal
      %button.add-comment-button.btn.btn-success.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
        Add a comment
      / Modal
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title Add a comment
              .modal-body
                = simple_form_for @comment, :url => post_comments_path(@post) do |f|
                  =f.input :message, as: :pagedown, input_html: { preview: true, rows: 10 }
                  %br/
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", class: 'pull-left'} Close
                    =f.submit 'Create', class: 'btn btn-primary pull-right'
  %br
  .row
    .col-xs-10.col-xs-offset-1
      - @post.comments.each do |comment|
        %blockquote
          .wmd-output><
            :preserve
              #{comment.message}
          %small= comment.user.email
          - if current_user && current_user.can_edit?(comment)
            %br
            = link_to 'Edit', edit_comment_path(comment), :class => 'btn btn-sm btn-primary'
            &nbsp
            = link_to 'Delete', comment_path(comment), :method => :delete, :data => { :confirm => 'Are you sure you want to delete?'}, :class => 'btn btn-sm btn-danger'
      .clr
