.col-xs-offset-1.col-xs-10.booyah-box
  %h1= @post.title
  %i= @post.body
  %br/
  %br/
 

.col-xs-10.col-xs-offset-1
  %h1.pull-left Comments
  

.booyah-box.col-xs-10.col-xs-offset-1 
  / Button trigger modal
  %button.btn.btn-success.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
    Add a comment
  / Modal
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title Add a comment
        = simple_form_for @comment, :url => post_comments_path(@post) do |f|
          .modal-body
            = f.input :message
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = f.submit "Add a Comment", :class => 'btn btn-primary'
            
.booyah-box.col-xs-10.col-xs-offset-1
  %h1 Comments
  - @post.comments.each do |comment|
    %blockquote
      \#{comment.message}
      %small= comment.user.email
      - if current_user && current_user.can_edit?(comment)
        = link_to 'Destroy', comment_path(comment), :method => :delete, :class => 'btn btn-xs btn-primary pull-right'
        %br/
        = link_to 'Edit', edit_comment_path(comment), :class => 'btn btn-xs btn-primary pull-right'
  .clr 
    
  
