!!!
%html
  %head
    %title Defcon
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    %nav.navbar.navbar-inverse{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Defcon', root_path, :class => 'navbar-brand'
    
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'View Posts', posts_path
          %ul.nav.navbar-nav
            %li
              = link_to 'Write a Post', '#', :data => {:toggle => 'modal', :target => "#myModal"}
          %ul.nav.navbar-nav
            %li
              - if current_user && current_user.admin?
                = render partial: "layouts/adminmenu"
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'My Profile', user_path(current_user)
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
                  %li.divider
                  %li
                    %a{:href => "#"} One more separated link
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign in', new_user_session_path
        / /.navbar-collapse
      / /.container-fluid
    - if notice.present?
      %p.notice= notice
    - if alert.present?
      %p.alert= alert
      // - if current_user.blank?
      //   = link_to 'Sign in', new_user_session_path
      // - else
      //   Hello #{current_user.email}
      //   = link_to  'Sign out', destroy_user_session_path, :method => :delete
    / %hr
    = yield
    

    / Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %h4#myModalLabel.modal-title Write a new post
      .modal-body
        =simple_form_for (Post.new) do |f|
          =f.input :title
          =f.input :body, as: :pagedown, input_html: { preview: true, rows: 10 }
          %br/
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", class: 'pull-left'} Close
            =f.submit 'Create', class: 'btn btn-primary pull-right'
    
    