!!!
%html
  %head
    %title Defcon
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if notice.present?
      %p.notice
        = notice
    - if alert.present?
      %p.alert
        = alert
    - if current_user.blank?
      = link_to 'Sign up', new_user_registration_path
      = link_to 'Sign in', new_user_session_path
    - else
      Hello #{current_user.email}
      = link_to  'Sign out', destroy_user_session_path, :method => :delete
    %hr
    = yield